<div class='player-container'>
  <img class='player-image' src='assets/{{player.player_img_url}}'>
  <table>
    <tbody>
      <tr>
        <td><p>Name</p></td>
        <td><p>{{player.player_name}}</p></td>
      </tr>
      <tr>
        <td><p>Role</p></td>
        <td><p>{{player.player_role}}</p></td>
      </tr>
      <tr>
        <td><p>Batting Style</p></td>
        <td><p>{{player.player_batting_style}}</p></td>
      </tr>
      <tr>
        <td><p>Bowling Style</p></td>
        <td><p>{{player.player_bowling_style}}</p></td>
      </tr>
      <tr>
        <td><p>Nationality</p></td>
        <td><p>{{player.player_nationality}}</p></td>
      </tr>
      <tr>
        <td><p>Date Of Birth</p></td>
        <td><p>{{player.player_dob}}</p></td>
      </tr>
    </tbody>
  </table>
</div>
